<!doctype html>

{% extends 'layout.html' %}
{% load static %}


{% block content %}

    <!-- start header -->
    <!-- end header -->
    <!-- start section -->
    <section class="p-0 bg-dark-gray" style="position: relative;top: -40px;">
        <div class="swiper lg-no-parallax full-screen md-h-600px sm-h-500px swiper-light-pagination ipad-top-space-margin magic-cursor drag-cursor"
            data-slider-options='{ "slidesPerView": 1, "loop": true, "parallax": true, "speed": 1200, "autoplay": { "delay": 4000, "disableOnInteraction": false }, "pagination": { "el": ".swiper-pagination-bullets", "clickable": true }, "navigation": { "nextEl": ".slider-one-slide-next-1", "prevEl": ".slider-one-slide-prev-1" }, "keyboard": { "enabled": true, "onlyInViewport": true }, "effect": "slide" }'>
            <div class="swiper-wrapper">
                <!-- start slider item -->
                <div class="swiper-slide overflow-hidden">
                    <div class="cover-background position-absolute top-0 start-0 w-100 h-100"
                        style="background-image:url('https://via.placeholder.com/1920x1080');"
                        data-swiper-parallax="1000">
                        <div class="opacity-light bg-gradient-black-green"></div>
                        <div class="container h-100" data-swiper-parallax="-300">
                            <div class="row align-items-center justify-content-center h-100 text-center">
                                <div class="col-xl-7 col-lg-9 col-md-10 position-relative text-white">
                                    <span
                                        data-anime='{ "el": "childs", "translateY": [0, 0], "opacity": [0,0.7], "duration": 1500, "delay": 200, "staggervalue": 300, "easing": "easeOutQuad" }'><span
                                            class="fw-300 fs-22 opacity-7 mb-15px d-inline-block">Creative solutions for
                                            everyone</span></span>
                                    <span
                                        class="opacity-7 fs-80 xs-fs-60 alt-font fw-700 text-shadow-extra-large ls-minus-2px mb-45px sm-mb-30px xs-mb-20px d-inline-block swiper-parallax-fancy-text"
                                        data-fancy-text='{ "effect": "rotate", "string": ["We craft unique business ideas"] }'></span>
                                    <div
                                        data-anime='{ "el": "childs", "translateY": [80, 0], "opacity": [0,1], "duration": 600, "delay": 1000, "staggervalue": 300, "easing": "easeOutQuad" }'>
                                        <a href="index.html" target="_blank"
                                            class="btn btn-large btn-gradient-emerald-blue-emerald-green btn-hover-animation-switch btn-round-edge btn-box-shadow me-20px xs-m-10px">
                                            <span>
                                                <span class="btn-text">Discover crafto</span>
                                                <span class="btn-icon"><i
                                                        class="feather icon-feather-arrow-right"></i></span>
                                                <span class="btn-icon"><i
                                                        class="feather icon-feather-arrow-right"></i></span>
                                            </span>
                                        </a>
                                        <a href="index.html" target="_blank"
                                            class="btn btn-large btn-transparent-white-light border-1 btn-hover-animation btn-box-shadow btn-round-edge xs-m-10px">
                                            <span>
                                                <span class="btn-text">Get started now</span>
                                                <span class="btn-icon"><i
                                                        class="feather icon-feather-arrow-right"></i></span>
                                            </span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end slider item -->
                <!-- start slider item -->
                <div class="swiper-slide overflow-hidden">
                    <div class="cover-background position-absolute top-0 start-0 w-100 h-100"
                        style="background-image:url('https://via.placeholder.com/1920x1080');"
                        data-swiper-parallax="1000">
                        <div class="opacity-light bg-gradient-black-green"></div>
                        <div class="container h-100" data-swiper-parallax="-300">
                            <div class="row align-items-center justify-content-center h-100 text-center">
                                <div class="col-xl-7 col-lg-9 col-md-10 position-relative text-white">
                                    <span
                                        data-anime='{ "el": "childs", "translateY": [0, 0], "opacity": [0,0.7], "duration": 1500, "delay": 200, "staggervalue": 300, "easing": "easeOutQuad" }'><span
                                            class="fw-300 fs-22 opacity-7 mb-15px d-inline-block">Ideas and
                                            brainstorming</span></span>
                                    <span
                                        class="opacity-7 fs-80 xs-fs-60 alt-font fw-700 text-shadow-extra-large ls-minus-2px mb-45px sm-mb-30px xs-mb-20px d-inline-block swiper-parallax-fancy-text"
                                        data-fancy-text='{ "effect": "rotate", "string": ["Business growth and solution"] }'></span>
                                    <span
                                        data-anime='{ "el": "childs", "translateY": [80, 0], "opacity": [0,1], "duration": 600, "delay": 500, "staggervalue": 300, "easing": "easeOutQuad" }'>
                                        <a href="index.html" target="_blank"
                                            class="btn btn-large btn-gradient-emerald-blue-emerald-green btn-hover-animation-switch btn-round-edge btn-box-shadow me-20px xs-m-10px">
                                            <span>
                                                <span class="btn-text">Discover crafto</span>
                                                <span class="btn-icon"><i
                                                        class="feather icon-feather-arrow-right"></i></span>
                                                <span class="btn-icon"><i
                                                        class="feather icon-feather-arrow-right"></i></span>
                                            </span>
                                        </a>
                                        <a href="index.html" target="_blank"
                                            class="btn btn-large btn-transparent-white-light border-1 btn-hover-animation btn-box-shadow btn-round-edge xs-m-10px">
                                            <span>
                                                <span class="btn-text">Get started now</span>
                                                <span class="btn-icon"><i
                                                        class="feather icon-feather-arrow-right"></i></span>
                                            </span>
                                        </a>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end slider item -->
                <!-- start slider item -->
                <div class="swiper-slide overflow-hidden">
                    <div class="cover-background position-absolute top-0 start-0 w-100 h-100"
                        style="background-image:url('https://via.placeholder.com/1920x1080');"
                        data-swiper-parallax="1000">
                        <div class="opacity-light bg-gradient-black-green"></div>
                        <div class="container h-100" data-swiper-parallax="-300">
                            <div class="row align-items-center justify-content-center h-100 text-center">
                                <div class="col-xl-7 col-lg-9 col-md-10 position-relative text-white">
                                    <span
                                        data-anime='{ "el": "childs", "translateY": [0, 0], "opacity": [0,0.7], "duration": 1500, "delay": 200, "staggervalue": 300, "easing": "easeOutQuad" }'><span
                                            class="fw-300 fs-22 opacity-7 mb-15px d-inline-block">Ideas and
                                            brainstorming</span></span>
                                    <span
                                        class="opacity-7 fs-80 xs-fs-60 alt-font fw-700 text-shadow-extra-large ls-minus-2px mb-45px sm-mb-30px xs-mb-20px d-inline-block swiper-parallax-fancy-text"
                                        data-fancy-text='{ "effect": "rotate", "string": ["We safeguard your business"] }'></span>
                                    <span
                                        data-anime='{ "el": "childs", "translateY": [80, 0], "opacity": [0,1], "duration": 600, "delay": 500, "staggervalue": 300, "easing": "easeOutQuad" }'>
                                        <a href="index.html" target="_blank"
                                            class="btn btn-large btn-gradient-emerald-blue-emerald-green btn-hover-animation-switch btn-round-edge btn-box-shadow me-20px xs-m-10px">
                                            <span>
                                                <span class="btn-text">Discover crafto</span>
                                                <span class="btn-icon"><i
                                                        class="feather icon-feather-arrow-right"></i></span>
                                                <span class="btn-icon"><i
                                                        class="feather icon-feather-arrow-right"></i></span>
                                            </span>
                                        </a>
                                        <a href="index.html" target="_blank"
                                            class="btn btn-large btn-transparent-white-light border-1 btn-hover-animation btn-box-shadow btn-round-edge xs-m-10px">
                                            <span>
                                                <span class="btn-text">Get started now</span>
                                                <span class="btn-icon"><i
                                                        class="feather icon-feather-arrow-right"></i></span>
                                            </span>
                                        </a>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end slider item -->
            </div>
            <!-- start slider pagination -->
            <div class="swiper-pagination swiper-pagination-clickable swiper-pagination-bullets"></div>
            <!-- end slider pagination -->
            <!-- start slider navigation -->
            <!--<div class="slider-one-slide-prev-1 icon-extra-large text-white swiper-button-prev slider-navigation-style-06 d-none d-sm-inline-block"><i class="line-icon-Arrow-OutLeft"></i></div>
                    <div class="slider-one-slide-next-1 icon-extra-large text-white swiper-button-next slider-navigation-style-06 d-none d-sm-inline-block"><i class="line-icon-Arrow-OutRight"></i></div>-->
            <!-- end slider navigation -->
        </div>
    </section>
    <!-- end section -->

  <!-- start section -->
        <section class="background-position-center-top position-relative sm-background-image-none" 
         style="background-image: url('{% static 'styles/images/vertical-line-bg.svg' %}')"></>
            <div class="container">
                <div class="row justify-content-center mb-1">
                    <div class="col-lg-7 text-center" data-anime='{ "el": "childs", "translateY": [50, 0], "opacity": [0,1], "duration": 600, "delay": 0, "staggervalue": 300, "easing": "easeOutQuad" }'>
                        <span class="alt-font text-uppercase fw-600 d-inline-block ls-1px">Stay new updated</span>
                        <h3 class="alt-font text-dark-gray fw-600 ls-minus-1px shadow-none" data-shadow-animation="true" data-animation-delay="1000">Explore the <span class="text-highlight fw-800">news<span class="bg-gradient-emerald-blue-emerald-green h-8px bottom-10px opacity-6 separator-animation"></span></span></h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 px-0">
                        <ul class="blog-grid blog-wrapper grid-loading grid grid-3col xl-grid-3col lg-grid-3col md-grid-2col sm-grid-2col xs-grid-1col gutter-double-extra-large" data-anime='{ "el": "childs", "translateY": [50, 0], "opacity": [0,1], "duration": 1000, "willchange": "transform", "delay": 0, "staggervalue": 300, "easing": "easeOutQuad" }'>
                            <li class="grid-sizer"></li>
                            <!-- start blog item -->
                            <li class="grid-item">
                                <div class="card border-0 border-radius-5px box-shadow-quadruple-large box-shadow-quadruple-large-hover">
                                    <div class="blog-image">
                                        <a href="demo-startup-blog-single-simple.html" class="d-block"><img src="https://via.placeholder.com/600x430" alt="" /></a>
                                        <div class="blog-categories">
                                            <a href="demo-startup-blog.html" class="categories-btn bg-white text-dark-gray text-dark-gray-hover text-uppercase alt-font fw-700">Agency</a>
                                        </div>
                                    </div>
                                    <div class="card-body p-13 md-p-11">
                                        <a href="demo-startup-blog-single-simple.html" class="card-title mb-15px alt-font fw-700 fs-18 lh-30 text-dark-gray text-dark-gray-hover d-inline-block">Build up healthy habits and strong peaceful life</a>
                                        <p>Lorem ipsum dolor consectetur adipiscing eiusmod tempor</p>
                                        <div class="author d-flex justify-content-center align-items-center position-relative overflow-hidden fs-14 text-uppercase">
                                            <div class="me-auto">
                                                <span class="blog-date d-inline-block">30 August 2021</span>
                                                <div class="d-inline-block author-name">By <a href="demo-startup-blog.html" class="text-dark-gray text-dark-gray-hover text-decoration-line-bottom fw-500">Den viliamson</a></div>
                                            </div>
                                            <div class="like-count">
                                                <a href="demo-startup-blog-single-simple.html"><i class="fa-regular fa-heart text-base-color"></i><span class="text-dark-gray align-middle fw-500">25</span></a>
                                            </div>  
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <!-- end blog item -->
                            <!-- start blog item -->
                            <li class="grid-item">
                                <div class="card border-0 border-radius-5px box-shadow-quadruple-large box-shadow-quadruple-large-hover">
                                    <div class="blog-image">
                                        <a href="demo-startup-blog-single-simple.html" class="d-block"><img src="https://via.placeholder.com/600x430" alt="" /></a>
                                        <div class="blog-categories">
                                            <a href="demo-startup-blog.html" class="categories-btn bg-white text-dark-gray text-dark-gray-hover text-uppercase alt-font fw-700">Luxurious</a>
                                        </div>
                                    </div>
                                    <div class="card-body p-13 md-p-11">
                                        <a href="demo-startup-blog-single-simple.html" class="card-title mb-15px alt-font fw-700 fs-18 lh-30 text-dark-gray text-dark-gray-hover d-inline-block">How to bring the season into your great marketing</a>
                                        <p>Lorem ipsum dolor consectetur adipiscing eiusmod tempor</p>
                                        <div class="author d-flex justify-content-center align-items-center position-relative overflow-hidden fs-14 text-uppercase">
                                            <div class="me-auto">
                                                <span class="blog-date d-inline-block">28 August 2021</span>
                                                <div class="d-inline-block author-name">By <a href="demo-startup-blog.html" class="text-dark-gray text-dark-gray-hover text-decoration-line-bottom fw-500">Hugh macleod</a></div>
                                            </div>
                                            <div class="like-count">
                                                <a href="demo-startup-blog-single-simple.html"><i class="fa-regular fa-heart text-base-color"></i><span class="text-dark-gray align-middle fw-500">58</span></a>
                                            </div>  
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <!-- end blog item -->
                            <!-- start blog item -->
                            <li class="grid-item">
                                <div class="card border-0 border-radius-5px box-shadow-quadruple-large box-shadow-quadruple-large-hover">
                                    <div class="blog-image">
                                        <a href="demo-startup-blog-single-simple.html" class="d-block"><img src="https://via.placeholder.com/600x430" alt="" /></a>
                                        <div class="blog-categories">
                                            <a href="demo-startup-blog.html" class="categories-btn bg-white text-dark-gray text-dark-gray-hover text-uppercase alt-font fw-700">Business</a>
                                        </div>
                                    </div>
                                    <div class="card-body p-13 md-p-11">
                                        <a href="demo-startup-blog-single-simple.html" class="card-title mb-15px alt-font fw-700 fs-18 lh-30 text-dark-gray text-dark-gray-hover d-inline-block">Be the strong willed one the public relationship</a>
                                        <p>Lorem ipsum dolor consectetur adipiscing eiusmod tempor</p>
                                        <div class="author d-flex justify-content-center align-items-center position-relative overflow-hidden fs-14 text-uppercase">
                                            <div class="me-auto">
                                                <span class="blog-date d-inline-block">26 August 2021</span>
                                                <div class="d-inline-block author-name">By <a href="demo-startup-blog.html" class="text-dark-gray text-dark-gray-hover text-decoration-line-bottom fw-500">Walton smith</a></div>
                                            </div>
                                            <div class="like-count">
                                                <a href="demo-startup-blog-single-simple.html"><i class="fa-regular fa-heart text-base-color"></i><span class="text-dark-gray align-middle fw-500">75</span></a>
                                            </div>  
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <!-- end blog item --> 
                        </ul>
                    </div>
                </div>
            </div>
        </section>
        <!-- end section -->

    <!-- start section -->
  
        <section class="background-position-center-top sm-background-image-none"
            style="background-image: url('{% static 'styles/images/vertical-line-bg.svg' %}')">
            <div class="container">
                <div class="row position-relative clients-style-08">
                    <div class="col swiper text-center feather-shadow"
                        data-slider-options='{ "slidesPerView": 2, "spaceBetween":0, "speed": 4000, "loop": true, "pagination": { "el": ".slider-four-slide-pagination-2", "clickable": false }, "allowTouchMove": false, "autoplay": { "delay":0, "disableOnInteraction": false }, "navigation": { "nextEl": ".slider-four-slide-next-2", "prevEl": ".slider-four-slide-prev-2" }, "keyboard": { "enabled": true, "onlyInViewport": true }, "breakpoints": { "992": { "slidesPerView": 4 }, "768": { "slidesPerView": 3 } }, "effect": "slide" }'>
                        <div class="swiper-wrapper marquee-slide">
                            <!-- start client item -->
                            <div class="swiper-slide">
                                <a href="#"><img src="{% static 'styles/images/logo-envato.svg' %}"
                                        class="h-40px xs-h-30px" alt="" /></a>
                            </div>
                            <!-- end client item -->
                            <!-- start client item -->
                            <div class="swiper-slide">
                                <a href="#"><img src="{% static 'styles/images/logo-pingdom.svg' %}"
                                        class="h-40px xs-h-30px" alt="" /></a>
                            </div>
                            <!-- end client item -->
                            <!-- start client item -->
                            <div class="swiper-slide">
                                <a href="#"><img src="{% static 'styles/images/logo-paypal.svg' %}"
                                        class="h-40px xs-h-30px" alt="" /></a>
                            </div>
                            <!-- end client item -->
                            <!-- start client item -->
                            <div class="swiper-slide">
                                <a href="#"><img src="{% static 'styles/images/logo-walmart.svg' %}"
                                        class="h-40px xs-h-30px" alt="" /></a>
                            </div>
                            <!-- end client item -->
                            <!-- start client item -->
                            <div class="swiper-slide">
                                <a href="#"><img src="{% static 'styles/images/logo-logitech.svg' %}"
                                        class="h-40px xs-h-30px" alt="" /></a>
                            </div>
                            <!-- end client item -->
                            <!-- start client item -->
                            <div class="swiper-slide">
                                <a href="#"><img src="{% static 'styles/images/logo-envato.svg' %}"
                                        class="h-40px xs-h-30px" alt="" /></a>
                            </div>
                            <!-- end client item -->
                            <!-- start client item -->
                            <div class="swiper-slide">
                                <a href="#"><img src="{% static 'styles/images/logo-pingdom.svg' %}"
                                        class="h-40px xs-h-30px" alt="" /></a>
                            </div>
                            <!-- end client item -->
                            <!-- start client item -->
                            <div class="swiper-slide">
                                <a href="#"><img src="{% static 'styles/images/logo-paypal.svg' %}"
                                        class="h-40px xs-h-30px" alt="" /></a>
                            </div>
                            <!-- end client item -->
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- end section -->
        <section id="down-section" class="bg-very-light-gray overflow-hidden">
            <div class="container"> 
                <div class="row row-cols-1 row-cols-lg-3 row-cols-md-2 justify-content-center" data-anime='{ "el": "childs", "translateY": [30, 0], "opacity": [0,1], "duration": 800, "delay": 0, "staggervalue": 300, "easing": "easeOutQuad" }'>
                    <!-- start rotate box item -->
                    <div class="col rotate-box-style-02 md-mb-30px">
                        <div class="w-100 min-h-300px text-center rotate-box to-left">
                            <!-- start front side -->
                            <div class="w-100 h-100 overflow-hidden z-index-1 front-side bg-white w-100 border-radius-5px"> 
                                <div class="rotate-content-front z-index-2">
                                    <i class="line-icon-Geo2-Love icon-extra-large text-base-color mb-25px"></i>
                                    <div class="fs-19 text-dark-gray fw-500 mb-5px">Crafto design</div>
                                    <span class="w-60 lg-w-75 md-w-70 xs-w-60 d-block m-auto">401 Broadway, 24th floor New york, NY 10013</span>
                                </div>
                            </div>
                            <!-- end front side -->
                            <!-- start back side -->
                            <div class="w-100 h-100 overflow-hidden back-side cover-background border-radius-5px" style="background-image:url('https://via.placeholder.com/600x450')">
                                <div class="opacity-light bg-charcoal-blue"></div>
                                <div class="d-flex flex-column align-items-center justify-content-center h-100 z-index-2 rotate-content-back p-15"> 
                                    <a href="#location" class="btn btn-medium btn-round-edge btn-gradient-emerald-blue-emerald-green section-link">Location map</a>
                                </div>
                                <!-- end back side -->
                            </div>
                        </div>    
                    </div>
                    <!-- end rotate box item -->   
                    <!-- start rotate box item -->
                    <div class="col rotate-box-style-02 md-mb-30px">
                        <div class="w-100 min-h-300px text-center rotate-box to-left">
                            <!-- start front side -->
                            <div class="w-100 h-100 overflow-hidden z-index-1 front-side bg-white w-100 border-radius-5px"> 
                                <div class="rotate-content-front z-index-2">
                                    <i class="line-icon-Headset icon-extra-large text-base-color mb-25px"></i>
                                    <div class="fs-19 text-dark-gray fw-500 mb-5px">Let's talk with us</div>
                                    <span class="w-60 lg-w-75 md-w-70 xs-w-60 d-block m-auto">Phone: 1-800-222-000</span>
                                    <span class="w-60 lg-w-75 md-w-70 xs-w-60 d-block m-auto">Fax: 1-800-222-002</span> 
                                </div>
                            </div>
                            <!-- end front side -->
                            <!-- start back side -->
                            <div class="w-100 h-100 overflow-hidden back-side cover-background border-radius-5px" style="background-image:url('https://via.placeholder.com/600x450')">
                                <div class="opacity-light bg-charcoal-blue"></div>
                                <div class="d-flex flex-column align-items-center justify-content-center h-100 z-index-2 rotate-content-back p-15"> 
                                    <a href="tel:+1-800-222-000" class="btn btn-medium btn-round-edge btn-gradient-emerald-blue-emerald-green">Talk with us</a>
                                </div>
                                <!-- end back side -->
                            </div>
                        </div>    
                    </div>
                    <!-- end rotate box item --> 
                    <!-- start rotate box item -->
                    <div class="col rotate-box-style-02 md-mb-30px">
                        <div class="w-100 min-h-300px text-center rotate-box to-left">
                            <!-- start front side -->
                            <div class="w-100 h-100 overflow-hidden z-index-1 front-side bg-white w-100 border-radius-5px"> 
                                <div class="rotate-content-front z-index-2">
                                    <i class="line-icon-Mail-Read icon-extra-large text-base-color mb-25px"></i>
                                    <div class="fs-19 text-dark-gray fw-500 mb-5px">Need live support?</div> 
                                    <span class="w-60 lg-w-75 md-w-70 xs-w-60 d-block m-auto">Committed staff members are ready to help you.</span>
                                </div>
                            </div>
                            <!-- end front side -->
                            <!-- start back side -->
                            <div class="w-100 h-100 overflow-hidden back-side cover-background border-radius-5px" style="background-image:url('https://via.placeholder.com/600x450')">
                                <div class="opacity-light bg-charcoal-blue"></div>
                                <div class="d-flex flex-column align-items-center justify-content-center h-100 z-index-2 rotate-content-back p-15"> 
                                    <a href="mailto:info@yourdomain.com" class="btn btn-medium btn-round-edge btn-gradient-emerald-blue-emerald-green">Support desk</a>
                                </div>
                                <!-- end back side -->
                            </div>
                        </div>    
                    </div>
                    <!-- end rotate box item --> 
                </div>
            </div>
        </section>
        <!-- end section -->
        <!-- start section -->
        <section>
            <div class="container"> 
                <div class="row justify-content-center mb-3">
                    <div class="col-lg-7 text-center" data-anime='{ "el": "childs", "translateY": [50, 0], "opacity": [0,1], "duration": 600, "delay": 0, "staggervalue": 300, "easing": "easeOutQuad" }'>
                        <span class="alt-font text-uppercase fw-600 d-inline-block ls-1px">Feel free to get in touch!</span>
                        <h3 class="alt-font text-dark-gray fw-600 ls-minus-1px shadow-none" data-shadow-animation="true" data-animation-delay="1000">How we can <span class="text-highlight fw-800">help<span class="bg-gradient-emerald-blue-emerald-green h-8px bottom-10px opacity-6 separator-animation"></span></span> you?</h3>
                    </div>
                </div>
                <div class="row row-cols-md-1 justify-content-center">
                    <div class="col-xl-9 overflow-hidden">
                        <!-- start contact form -->
                        <form action="email-templates/contact-form.php" method="post" class="row contact-form-style-02" data-anime='{ "translateX": [0, 0], "opacity": [0,1], "duration": 600, "delay": 250, "staggervalue": 300, "easing": "easeOutQuad" }'>
                            <div class="col-md-6 mb-30px">
                                <input class="input-name form-control required" type="text" name="name" placeholder="Your name*" />
                            </div>
                            <div class="col-md-6 mb-30px">
                                <input class="form-control required" type="email" name="email" placeholder="Your email address*" />
                            </div>
                            <div class="col-md-6 mb-30px">
                                <input class="form-control" type="tel" name="phone" placeholder="Your phone" />
                            </div>
                            <div class="col-md-6 mb-30px">
                                <input class="form-control" type="text" name="subject" placeholder="Your subject" />
                            </div>
                            <div class="col-md-12 mb-30px">
                                <textarea class="form-control" cols="40" rows="4" name="comment" placeholder="Your message"></textarea>
                            </div>
                            <div class="col-xl-6 col-md-7 last-paragraph-no-margin">
                                <p class="text-center text-md-start fs-15 lh-28">We are committed to protecting your privacy. We will never collect information about you without your explicit consent.</p>
                            </div>
                            <div class="col-xl-6 col-md-5 text-center text-md-end sm-mt-20px">
                                <input type="hidden" name="redirect" value="">
                                <button class="btn btn-gradient-emerald-blue-emerald-green btn-small btn-round-edge submit" type="submit">Send message</button>
                            </div>
                            <div class="col-12">
                                <div class="form-results mt-20px d-none"></div>
                            </div>
                        </form>
                        <!-- end contact form -->
                    </div>
                </div>
            </div>
        </section>
        <!-- end section -->
  
        
        <!-- start scroll progress -->
        <div class="scroll-progress d-none d-xxl-block">
            <a href="#" class="scroll-top" aria-label="scroll">
                <span class="scroll-text">Scroll</span><span class="scroll-line"><span
                        class="scroll-point"></span></span>
            </a>
            
        </div>
        <!-- end scroll progress -->
              <!-- start subscription popup -->
        <div id="subscribe-popup" class="mfp-hide subscribe-popup">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-xl-9 col-md-10 bg-white">
                        <div class="row position-relative box-shadow-quadruple-large">
                            <div class="col-lg-6 cover-background md-h-400px xs-h-300px" style="background-image:url('https://via.placeholder.com/800x770');"></div>
                            <div class="col-lg-6 newsletter-popup p-8 pt-10 pb-10 lg-p-5 md-p-6 xs-p-8 position-relative">
                                <h4 class="d-inline-block alt-font ls-minus-1px fw-700 text-dark-gray mb-15px">Subscribe to the latest updates!</h4>
                                <p>Subscribe to our newsletters and get the latest business updates.</p>
                                <div class="d-inline-block w-100 newsletter-style-05 position-relative mb-20px">
                                    <form action="email-templates/subscribe-newsletter.php" method="post">
                                        <input class="input-medium w-100 border-radius-4px form-control required mb-15px" type="email" name="email" placeholder="Enter your email address" />
                                        <input type="hidden" name="redirect" value="">
                                        <button type="submit" class="btn btn-medium btn-round-edge btn-dark-gray btn-box-shadow w-100 submit">Subscribe now!</button>
                                        <div class="form-results border-radius-4px mt-10px lh-normal pt-10px pb-10px ps-15px pe-15px fs-16 w-100 text-center position-absolute z-index-1 d-none"></div>
                                    </form>
                                </div>
                                <label for="newsletter-off" class="fs-15"><input class="w-auto me-10px position-relative top-1px p-0" type="checkbox" id="newsletter-off" name="newsletter-off">Don't show this popup again</label>
                            </div>
                            <button title="Close (Esc)" type="button" class="mfp-close text-dark-gray"></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- end subscription popup -->

        {% endblock %}



